
body{
    background-color: rgb(163, 88, 234);
    color:white;
    font-family: 'Poppins',sans-serif;
}

*{
    margin:0;
    padding:0;
}



nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:60px;
    background-color: rgb(90, 7, 169);
    position: fixed;
    top:0;
    width:1650px;
    z-index: 1;
}



nav ul{
    display: flex;
    justify-content:space-around;
}

nav ul li{
    list-style: none;
    margin: 0px 23px;
    cursor: pointer;
    
}

nav ul li a:hover{
    text-decoration: underline;
    
}

nav ul li a{
    text-decoration: none;
    color:white;
    
}

.left{
    font-size: 1.5rem;
    
}



.first-Section{
    display: flex;
    margin:60px 0px;
    justify-content: space-around;
}

.first-Section > div{
    width:30%;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.left-Section{
    font-size: 2.7rem;
   
    margin:23px 0px;
}

.purple{
    font-weight: 600;
    color: rgb(77, 5, 145);
}

.underline{
    text-decoration:underline;
}

#element{
    color: rgb(73, 5, 137);
    font-weight: 600;
}

.second-Section{
    max-width: 80vw;
    margin: auto;
    height:80vh;
}

h2{
    font-size: 35px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
}

hr{
    border:0;
    height:2px;
    margin:40px 83px;
    background:white;
    display: flex;
}

.light{
    margin-left:0.2%;
    font-weight: 200;
}

.second-Section .box{
background: white;
width:70vw;
height:2px;
margin:126px 0;
display: flex;

}

.second-Section .vertical{
    height:93px;
    width:1px;
    background-color: white;
    margin:0px 133px;
    
}
.school{
    width:60px;
    position: relative;
    top: -49px;
    left:-32px;
}
.vertical-title{
    position: relative;
    width: 216px;
    top: 32px;
    left: -41px;
    font-size: 20px;
    
}

.vertical-about{
    width: 111px;
    font-size: 10px;
    position: relative;
    top: 31px;
    left: -39px;
    font-weight: 100;
    
}

.exam{
    width:60px;
    position: relative;
    top: -61px;
    left:-32px
}

.college{
    width:60px;
    position: relative;
    top: -52px;
    left:-32px 
}

.internship{
    width:60px;
    position: relative;
    top: -61px;
    left:-32px 
}

.third-Section{
    width:80vw;
    margin: auto;
}

.skill-box{
  display: grid;
  grid-template-columns: 0.6fr 0.6fr 0.6fr;
  gap:20px;
  margin:36px 0px;
}

.skills{
height:200px;       
background-color:rgb(112, 9, 209)  ;
display: flex;
justify-content: center;
border-radius: 10px;
   
}

.image:hover{
    transform:scale(1.2);
}

.image{
    width:100px;
    transition:transform .2s; 
}

.fourth-Section{
    width:80vw;
    margin: auto;
}

.projects-box{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
height:80vh;
gap: 30px;
margin:37px 0px;

}

.project{
    
    position: relative;
    width: 200px;
    height: 251px;
    overflow: hidden;
    border: 10px solid rgb(112, 9, 209);
    border-radius: 19px;
}

.project-img{
    width: 200px;
    height: 251px;
    
}

.text-up{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #AD7BE9;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.project:hover .text-up{
    height:100%;
}

.text{
  color: rgb(241, 232, 251);
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  
}

.project-info{
    font-size: 12px;
    width: 200px;
    margin:23px;
   
}

.text a{
    text-decoration: none;
}

.text a:hover{
    text-decoration: underline;
}

footer{
    
    height:100px;
    background-color:rgb(112, 9, 209) ;
    
}

.footer{
    display: flex;
    justify-content:space-between;
    margin:69px 150px;
    
    
}
.icons{
    margin:23px 0px;
    display: flex;
}

.contact{
width:45px;
}

.copyright{
    color:rgb(184, 177, 177);
    margin: 23px 0px;
}

html{
    scroll-behavior: smooth;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}

@media screen and (max-width:1024px) {
    nav{
        flex-wrap:wrap;
        width: auto;
    }

    .left-Section{
       font-size: 1.3rem;;
        
    }

    .right-Section img{
        width:170px;
    }

    .second-Section .box{
        flex-direction: column;
        
    }

    .second-Section .vertical{
        margin:100px 133px;
        
        
    }
    
    .third-Section{
        margin-top: 900px;
    }

    hr{
        height:0px;
    }

    .projects-box{
        display:flex;
        flex-direction: column;
        height: 1400px;
    }

    .footer{
        display: flex;
        flex-wrap: wrap;
    }

    footer{
        height:180px;
        
    }
}

@media  (min-width:768px) and (max-width:1024px) {
    nav{
        width:950px;
    }
      
    .third-Section{
        margin-top: 550px;
    }
}
